<!DOCTYPE html>
<html>

<head>
  <title>Forget Password Email</title>
</head>

<body>
  <div>
    <h3>Dear {{obj}},</h3>
    <p>Your Request For Password Reset Was Successfull, Kindly Proceed To Login With Your New Password 
    <br>
    <p>Cheers!</p>
  </div>
  <script></script>
</body>

</html>
